svg {
    font: 12px sans-serif;
}

.bar rect {
  shape-rendering: crispEdges;
  stroke: grey;
  stroke-width: 1;
}

.bar text {
  fill: black;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
