body {
    font-family: sans-serif;
}

/* Story */
.story {
    min-height: 100px;
}

.story-summary {
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.story-title {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.story .subtext {
    font-size: 0.8em;
    margin: 0 0 0 1em;
}

/* Pagination */
.pagination {
    margin: 0.5em 0;
}
.pagination a, .pagination span {
    margin-right: 8px;
}

.pagination a:visited {
    color:blue;
}


/* Histograms */
.histogram {
    display: inline-block;
}

svg {
    font: 12px sans-serif;
}

.bar rect {
  shape-rendering: crispEdges;
  stroke: grey;
  stroke-width: 1;
}

.bar text {
  fill: black;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
